@charset "utf-8";
body{
 	background-image: url("./image/bgBlue.jpg");
 	background-repeat: repeat;
	color: #EEEEEE;
	z-index: 1;
}

html, body{
  overflow: hidden;
}

#tapimg{
	position: absolute;
	transform: translate(-50%, -50%);
	top: 380px;
	left: 50%;
	width: 300px;
	height: 300px;
	z-index: 10000;
}

#shine{
	position: absolute;
	width: 500px;
	height: 500px;
	top: 134px;
	left: 50%;
	z-index: 9999;
	animation: r1 15s linear infinite;
}

.sepaL{
	position: absolute;
	width: 100%;
	height: 100%;
	background: url("./image/panel.png");
	background-repeat: repeat-y;
	background-position: 50% 0%;
	transform: translate(-272px); 
}

.sepaR{
	position: absolute;
	width: 100%;
	height: 100%;
	background: url("./image/panel.png");
	background-repeat: repeat-y;
	background-position: 50% 0%;
	transform: translate(256px); 
}

.product{
	position: absolute;
	top: 43%;
	left: 3%;
}

.itext,.iimg{
	display: inline-block;
	vertical-align:middle;
	margin-right: 20px;
	font-size: 44px;
}

#i_num1{
	display: inline-block;
	vertical-align:middle;
	margin-left: 50px;
	font-size: 44px;
}
#i_num2{
	display: inline-block;
	vertical-align:middle;
	margin-left: 40px;
	font-size: 44px;
}
#i_num3{
	display: inline-block;
	vertical-align:middle;
	margin-left: 30px;
	font-size: 44px;
}
#i_num4{
	display: inline-block;
	vertical-align:middle;
	margin-left: 55px;
	font-size: 44px;
}

@keyframes r1 {
  0%  {transform: translate(-50%) rotate(0deg);}
  100%  {transform: translate(-50%) rotate(360deg);}
}

.counter{
	position: absolute;
	transform: translate(-50%, -50%);
	text-align: center;
	top: 130px;
	left: 50%;
	background: rgba(0,0,0,0.3);
	background-size: contain;
	width: 500px;
	z-index: 9998
}

#tpcnt{
	font-size: 30px;
}

#psec{
	margin-top: 20px;
}

.tapioca{
	height: 0px;
	width: 100%;
	background-image: url("./image/shower.png");
	background-repeat: repeat-y;
	
}

