@charset"utf-8";
.title{
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	margin-bottom:50px;
	text-align:center;
	font-size:120%;
	background-color:#000000;
	color:#ffffff;
}

.catch{
	text-align:center;
}



.menu{
	float:left;
	margin:0px 30px 10px 0px;
	width:15%px;
	height:auto;
	border:2px solid;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-color:blue;
}

a:link { 
	color:blue;
}

a:visited{
	color:blue;
}

a:hover{ 
	color: white;
	background-color:royalblue;
}

.top_page{
	float:left;
	margin:0 20px
	width:85%;
}
footer{
	text-align:center;
	position:fixed;
	bottom:0;
	width:100%;
	margin-left:auto;
	margin-right:auto;
}

.koreha{
	text-align:left;
	color:red;
}